.notAvailable {
	color: var(--cds-text-secondary);
}

.loadingContainer {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.loadingText {
	&.sm {
		font-size: 0.875rem;
	}

	&.md {
		font-size: 1rem;
	}
}

.errorContainer {
	display: flex;
	align-items: center;
	gap: 0.25rem;
	color: var(--cds-support-error);
}
