.main {
    max-width: 100%;
    margin: 0;
    display: flex;
}

.contentContainer {
    flex: 1;
    padding: 2rem;
    margin-left: 16rem; // Match sidenav width
}

.content {
    width: 100%;
}

.panelHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;

    h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 400;
    }
}
